<head>
  <title>FarmToMeal</title>
  <meta charset="utf-8">

  <base href="/">
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
  <link rel="icon" type="image/png" href="/images/farmtomeal.png">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/javascripts/styles.js"></script>
  <script src="/javascripts/angular.js"></script>
  <script src="/javascripts/angular-ui-bootstrap.js"></script>
  <script src="/javascripts/config.js?r=<%= Math.random()%>"></script>
  <script src="/javascripts/nav.js?r=<%= Math.random()%>"></script>
  <script src="/javascripts/filters.js?r=<%= Math.random()%>"></script>
  <script src="/javascripts/styles.js"></script>
  <script src="/javascripts/directives.js?r=<%= Math.random()%>"></script>
  <script src="/javascripts/auth/auth.controller.js?r=<%= Math.random()%>"></script>
  <script src="/javascripts/auth/auth.service.js?r=<%= Math.random()%>"></script>
  <script src="/javascripts/goods/goods.controller.js?r=<%= Math.random()%>"></script>
  <script src="/javascripts/goods/goods-ui.controller.js"></script>
  <script src="/javascripts/goods/goods.service.js?r=<%= Math.random()%>"></script>
  <script src="/javascripts/purchases/purchases.service.js?r=<%= Math.random()%>"></script>
  <script src="/javascripts/users/users.controller.js?r=<%= Math.random()%>"></script>
</head>
<body ng-app="farmersMarket" ng-controller="MainCtrl as main">
  <nav class="navbar border-bottom" ng-controller="NavCtrl">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#/home">
          <img src="/images/farmtomeal.png" alt="farmtomeal">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav mobile-hidden">
            <!-- <li><a href="/#/home">Home</a></li> -->
            <li class="dropdown">
              <a href="/#/goods/produce" class="dropdown-toggle capitalize goods-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produce</a>
              <ul class="dropdown-menu">
                <li><a href="/#/goods/fruit" class="goods-link">Fruits</a></li>
                <li><a href="/#/goods/vegetables" class="goods-link">Vegetables</a></li>
                <li><a href="/#/goods/greens" class="goods-link">Greens</a></li>
                <li><a href="/#/goods/mushrooms" class="goods-link">Mushrooms</a></li>
                <li><a href="/#/goods/garlic" class="goods-link">Garlic</a></li>
                <li><a href="/#/goods/onions" class="goods-link">Onions</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/#/goods/dairy" class="dropdown-toggle capitalize" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dairy</a>
              <ul class="dropdown-menu">
                <li><a href="/#/goods/milk">Milk</a></li>
                <li><a href="/#/goods/eggs">Eggs</a></li>
                <li><a href="/#/goods/cheese">Cheese</a></li>
                <li><a href="/#/goods/yogurt">Yogurt</a></li>
                <li><a href="/#/goods/butter">Butter</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/#/goods/meat" class="dropdown-toggle capitalize" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meat</a>
              <ul class="dropdown-menu">
                <li><a href="/#/goods/poultry">Poultry</a></li>
                <li><a href="/#/goods/beef">Beef</a></li>
                <li><a href="/#/goods/pork">Pork</a></li>
                <li><a href="/#/goods/fish">Fish</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/#/goods/other" class="dropdown-toggle capitalize" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other</a>
            </li>
            <li class="dropdown">
              <a href="/#/search">Search</a>
            </li>
          </ul>
          <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
          <li ng-show="isLoggedIn()&&!currentUser().farmer"><a href="/#/reorder/{{ currentUser().username }}">Reorder</a></li>
          <li ng-show="isLoggedIn()"><a href="/#/cart">Cart</a></li>
          <li ng-show="isLoggedIn()&&currentUser().farmer"><a href="/#/new">Post</a></li>
          <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
          <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
          <li class="dropdown navbar-right" ng-show="isLoggedIn()">
            <a href="#" class="dropdown-toggle capitalize" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ currentUser().username }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ng-show="isLoggedIn()"><a href="/#/users/{{ currentUser().username }}">Dashboard</a></li>
              <li ng-show="isLoggedIn()"><a href="/#/users/edit">Edit Profile</a></li>
              <li ng-show="isLoggedIn()"><a href="/#/favorites">Favorites</a></li>
              <li role="separator" class="divider"></li>
              <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
            </ul>
          </li>
        </ul>
          </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <main>
    <div class="container-fluid">
      <div class="row">
          <div class="col-xs-4 col-md-2" ng-show="main.arr.indexOf(main.currentPath)>=0">
            <nav class="navbar navbar-default navbar-fixed-side" >
              <h5>Search by Category</h5>
              <div ng-controller="AccordionCtrl">
                <uib-accordion close-others="oneAtATime">
                  <ul class="nav navbar-nav">
                    <div class="panel-default" uib-accordion-group heading="Produce" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                      <a href="/#/goods/produce"><li>All Produce</li></a>
                      <a href="/#/goods/fruit"><li>Fruits</li></a>
                      <a href="/#/goods/vegetables"><li>Vegetables</li></a>
                      <a href="/#/goods/greens"><li>Greens</li></a>
                      <a href="/#/goods/mushrooms"><li>Mushrooms</li></a>
                      <a href="/#/goods/garlic"><li>Garlic</li></a>
                      <a href="/#/goods/onions"><li>Onions</li></a>
                    </div>
                    <div uib-accordion-group heading="Dairy" is-disabled="status.isFirstDisabled">
                      <a href="/#/goods/dairy"><li>All Dairy</li></a>
                      <a href="/#/goods/milk"><li>Milk</li></a>
                      <a href="/#/goods/eggs"><li>Eggs</li></a>
                      <a href="/#/goods/cheese"><li>Cheese</li></a>
                      <a href="/#/goods/yogurt"><li>Yogurt</li></a>
                      <a href="/#/goods/butter"><li>Butter</li></a>
                    </div>
                    <div uib-accordion-group heading="Meat" is-disabled="status.isFirstDisabled">
                      <a href="/#/goods/meat"><li>All Meat</li></a>
                      <a href="/#/goods/poultry"><li>Poultry</li></a>
                      <a href="/#/goods/beef"><li>Beef</li></a>
                      <a href="/#/goods/pork"><li>Pork</li></a>
                      <a href="/#/goods/fish"><li>Fish</li></a>
                    </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <a href="/#/goods/other"><h4>Other</h4></a>
                        </div>
                      </div>
                  </ul>
                </uib-accordion>
              </div>
            </nav>
          </div>
        <div class="col-xs-8 col-md-8" ng-show="main.arr.indexOf(main.currentPath)>=0">
          <ui-view></ui-view>
        </div>
        <div class="col-xs-12 col-md-8 col-md-push-2 col-md-pull-2" ng-show="main.arr.indexOf(main.currentPath)<0">
          <ui-view></ui-view>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
